<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <h1>Seus Pedidos</h1>
    <a href="/produtos">Voltar à Vitrine</a>
    <ul>
        {% for pedido in pedidos %}
        <li>
            <h2>Pedido #{{ pedido.id }}</h2>
            <p>Data: {{ pedido.data_pedido }}</p>
            <p>Total: R$ {{ pedido.total }}</p>
            <h3>Itens:</h3>
            <ul>
                {% for item in pedido.itens %}
                <li>
                    <p>{{ item.nome }} - Quantidade: {{ item.quantidade }} - Preço Unitário: R$ {{ item.preco_unitario }}</p>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
